@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap')


*{
    font-family: "Gowun Dodum", cursive;
  } 

body {
    height: 100vh;
    width: 100vw;
    background-image: url(/Users/juyoung/Desktop/후롱트이주영/FEimages/aboutback.JPG);
    background-repeat : no-repeat;
    background-size : cover;
    display: flex;
    justify-content: center;
    align-items: center;

  }

#container {
    width: 90vw;
    height: 90vh;
    background-color: white; opacity : 0.8;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

header {
    width:95%;
    flex-basis:10%;
    display:flex;
    flex-direction:  row;
    justify-content:  space-between;
    align-items:center;
}


  img {
    height: 100px;
    margin-left: 40%;
    border-radius: 20px;
    margin-right: 40px;
  }

#logo {
    font-color: orange;
    flex-basis: 90% ;
    font-size: 30px;
   
}

nav{ 
    flex-basis: 60%;
    display: flex;
    flex-direction: row;
    border: 0.2rem solid rgb(52, 32, 0);
    border-radius: 15px;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 3%;
}
.nav-item {
    flex-basis: 19%;
    background-color: rgb(255, 255, 255);
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

 a:link {
    color : rgb(0, 0, 0);
    text-decoration: none;
}

a:visited {
    color :rgb(0, 0, 0); 
    text-decoration: none;
}

a:hover {
    color :rgb(202, 152, 0);
    text-decoration:none;
}

  main {
    display: flex;
    flex-direction: row;
    width: 95%;
    flex-basis: 70%;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
  }

  article {
    font-size: 20pt;
    flex-basis: 90%;
    height: 90%;
    border: 0.2rem solid rgb(82, 41, 0);
    border-radius: 15px;
  }
  
  .container {
    display: grid;
    grid-template-columns : repeat(2, 1fr);
    grid-template-rows : repeat(2, auto-fill);
    grid-column: 1/2;
    grid-row: 1/2;
    row-gap : 10%;

    margin-top: 5%;

  }

  footer {
    border: 0.2rem solid rgb(61, 26, 0);
    width: 90%;
    border-radius: 15px;
}
#footer-item {
  margin-left: 5%;
}

aside {
    font-size: 20pt;
    height: 90%;
    border: 0.2rem solid rgb(82, 41, 0);
    border-radius: 15px;
    text-align: center;
}

.logo2{
  height: 100px;
  border-radius: 20px;
}